:root{
    --main_font_color: #71A894;
    --main_title_color: #303031;
    --main_box_color: #F3F0EA;
    --header_border_color: #E7E7E7;




    --font_open_sans:'Open Sans', sans-serif;
    --font_roboto:'Roboto', sans-serif;
}